<div class="row">
	<div class="col-md-12">
        <div class="button-container">
            <button class="button color-green" ng-click="downloadAllLogs()">Descargar logs del mes</button>
        </div>
        <div class="button-container">
        	<button class="button color-green" ng-click="downloadActiveLogs()">Descargar logs</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th class="text-center col-md-4">Logger</th>
                <th class="text-center col-md-4">Nivel</th>
                <th class="col-md-4"></th>
            </tr>
            <tr ng-repeat="log in logs">
                <td class="text-center">{{log.name}}</td>
                <td class="text-center">
                    <select class="form-control" ng-model="log.level" ng-options="level as level for level in levels"></select>
                </td>
                <td class="text-center">
                    <button type="button" class="button color-white-blue" ng-click="changeLevel(log)">Cambiar nivel</button>
                </td>
            </tr>
        </table>
    </div>
</div>